<h1><%= @book.title %>'sページ</h1>

<!--本のステータス判定-->
<div>
  <% if @book_status != nil %>
    <% if @book_status.status == "check" %>
      この本のステータス：気になる本 ( 最終更新日：<%= @book_status.updated_at.strftime("%Y/%m/%d") %> )<br>
      <b><%= link_to "気になる", book_book_status_path(book_id: @book.id, id: @book_status), method: :delete %></b>
      <%= link_to "読んでいる", book_book_status_path(book_id: @book.id, id: @book_status.id, key: "read"), method: :patch %>
      <%= link_to "読み終わった", book_book_status_path(book_id: @book.id, id: @book_status.id, key: "finish"), method: :patch %>
    <% elsif @book_status.status == "read" %>
      この本のステータス：読んでいる本 ( 最終更新日：<%= @book_status.updated_at.strftime("%Y/%m/%d") %> )<br>
      <%= link_to "気になる", book_book_status_path(book_id: @book.id, id: @book_status.id, key: "check"), method: :patch %>
      <b><%= link_to "読んでいる", book_book_status_path(book_id: @book.id, id: @book_status), method: :delete %></b>
      <%= link_to "読み終わった", book_book_status_path(book_id: @book.id, id: @book_status.id, key: "finish"), method: :patch %>
    <% elsif @book_status.status == "finish" %>
      この本のステータス：読み終わった本 ( 最終更新日：<%= @book_status.updated_at.strftime("%Y/%m/%d") %> )<br>
      <%= link_to "気になる", book_book_status_path(book_id: @book.id, id: @book_status.id, key: "check"), method: :patch %>
      <%= link_to "読んでいる", book_book_status_path(book_id: @book.id, id: @book_status.id, key: "read"), method: :patch %>
      <b><%= link_to "読み終わった", book_book_status_path(book_id: @book.id, id: @book_status), method: :delete %></b>
    <% end %>
  <% else %>
    この本のステータス：ー<br>
    <%= link_to "気になる", book_book_statuses_path(@book.id, key: "check"), method: :post %>
    <%= link_to "読んでいる", book_book_statuses_path(@book.id, key: "read"), method: :post %>
    <%= link_to "読み終わった", book_book_statuses_path(@book.id, key: "finish"), method: :post %>
  <% end %>
</div>

<!--本のお気に入り判定-->
<div>
  <% if @book.favorite_book_by?(current_user) %>
    <%= link_to "本のお気に入り登録を外す", book_favorite_book_path(@book.id), method: :delete %>
  <% else %>
    <%= link_to "本をお気に入り登録する", book_favorite_book_path(@book.id), method: :post %>
  <% end %>
</div><br>

<!--本のレビュー投稿-->
※おめめマークのモーダルウィンドウにする
<% if current_user.reviews.find_by(book_id: @book) != nil %>
  <%= form_with model: [@book, @review], local: true do |f| %>
    <%= f.label :text, "レビュー" %><br>
    <%= f.text_area :text %><br>
    <%= f.submit "更新" %>
  <% end %>
  <%= link_to "レビューを削除する", book_review_path(book_id: @book.id, id: @review), method: :delete %>

<% else %>
  <%= form_with model: [@book, Review.new], local: true do |f| %>
    <%= f.label :text, "レビュー" %><br>
    <%= f.text_area :text %><br>
    <%= f.submit "投稿" %>
  <% end %>
<% end %>

<!--本のレビュー投稿表示-->
<h3>「<%= @book.title %>」に投稿されたレビュー</h3>
<% if current_user.reviews.find_by(book_id: @book) != nil %>
  <div>
    <%= link_to current_user.name+"のレビュー" %><br>
    <%= current_user.reviews.find_by(book_id: @book).text %>
    <%= current_user.reviews.find_by(book_id: @book).good_reviews.count %>いいね
  </div>
<% end %>

<% @reviews.each do |review| %>
  <div>
    <%= link_to review.user.name+"のレビュー", user_path(review.user.id) %><br>
    <%= review.text %>
    <% if review.good_review_by?(current_user) %>
      <%= link_to review.good_reviews.count.to_s+"いいね", book_review_good_reviews_path(book_id: review.book.id, review_id: review.id), method: :delete %>
    <% else %>
      <%= link_to review.good_reviews.count.to_s+"いいね", book_review_good_reviews_path(book_id: review.book.id, review_id: review.id), method: :post %>
    <% end %>
  </div>
<% end %>

<!--本のレスポンス投稿-->
<h3>「<%= @book.title %>」みんなのつぶやき</h3>
<div>
  <%= form_with model: [@book, Response.new], local: true do |f| %>
    <%= f.label :text, "お手軽投稿フォーム" %><br>
    <%= f.text_field :text %><br>
    <%= f.submit "お手軽投稿" %>
  <% end %>
</div>

<!--本のレスポンス一覧-->
<% @responses.each do |book_response| %>
<div>
  <%= link_to book_response.user.name, user_path(book_response.user.id) %>：
  <%= book_response.text %>
  <% if book_response.user_id == current_user.id %>
    <%= link_to "削除", book_response_path(book_response.book.id, book_response.id), method: :delete %>
  <% end %>
</div>
<% end %>